name: Run CI unittests
on:
  pull_request:
    types: [opened, ready_for_review, synchronize, ]
  workflow_dispatch:

jobs:
  run-tests:
    if: github.event.pull_request.draft == false
    uses: ./.github/workflows/ci-matrix-gen.yml
    with:
      jobs_to_run: ^(?=.*python)(?!.*(retagger|dsl)).*$