name: Run CI unittests
on:
  pull_request:
    types: [opened, ready_for_review, synchronize]
  workflow_dispatch:

jobs:
  build-standalone-artifacts:
    if: github.event.pull_request.draft == false && success()
    uses: ./.github/workflows/ci-matrix-gen.yml
    with:
      jobs_to_run: ^(?:python-svm-build|style|style-ecj)-gate-.*$
      logs_retention_days: 0
      artifacts_retention_days: 0

  run-tests:
    if: success()
    needs: build-standalone-artifacts
    uses: ./.github/workflows/ci-matrix-gen.yml
    with:
      jobs_to_run: ^(?!python-svm-build|style).*-gate.*$