name: Run Weekly unittest retagger
on:
  schedule:
    - cron: '0 0 * * 1'
  workflow_dispatch:

jobs:
  run-retagger:
    uses: ./.github/workflows/ci-matrix-gen.yml
    with:
      jobs_to_run: python-svm-build-gate-linux|python-unittest-retagger-gate-batch1

  merge_all_reports:
    runs-on: ubuntu-latest
    needs: run-retagger
    if: ${{ success() }}
    steps: 
      - name: Download reports
        uses: actions/download-artifact@v5
        with:
          pattern: python-unittest-retagger*
          merge-multiple: true
        continue-on-error: true
      - name: Merge retagger reports
        working-directory: main
        run: |
          mkdir -p ../retagger-reports
          sh -c mv retagger-report*.json ../retagger-reports
          cd ../retagger-reports
          python3 ../main/.github/scripts/merge_retagger_results.py
          cd ../main
          python3 ./graalpython/com.oracle.graal.python.test/src/runner.py merge-tags-from-report ../retagger-reports/reports-merged.json
          sh -c git diff >> reports_diff

      - name: Export reports diff file
        uses: actions/upload-artifact@v5
        with:
          name: retagger.diff
          path: main/diff_reports
          retention-days: 1