name: Weekly Downstream Tests
on:
  schedule:
  - cron: '0 0 * * 1'
  workflow_dispatch:

jobs:
  downstream-tests:
    strategy:
      fail-fast: false
      matrix:
        name:
        - pybind11
        - virtualenv
        - pyo3
        - pydantic-core
        - jiter
        os:
        - id: ubuntu-latest
          platform: linux
          arch: amd64
        - id: macos-latest
          platform: macos
          arch: aarch64

    runs-on: ${{ matrix.os.id }}

    steps:
    - name: Install CMake (Linux)
      if: ${{ matrix.os.platform == 'linux' && matrix.name == 'pybind11' }}
      run: |
        sudo apt-get update
        sudo apt-get install -y cmake

    - name: Install CMake (Darwin)
      if: ${{ matrix.os.platform == 'macos' && matrix.name == 'pybind11' }}
      run: |
        if brew list cmake >/dev/null 2>&1; then
          echo "cmake already installed"
        else
          brew install cmake
        fi

    - name: Install Rust toolchain
      if: ${{ matrix.name == 'pyo3' || matrix.name == 'pydantic-core' || matrix.name == 'jiter' }}
      run: |
        curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
        echo "${HOME}/.cargo/bin" >> $GITHUB_PATH

    - name: Install uv
      if: ${{ matrix.name == 'pydantic-core' }}
      run: |
        curl -LsSf https://astral.sh/uv/install.sh | sh
        echo "$HOME/.local/bin" >> $GITHUB_PATH

    - name: Checkout main repository
      uses: actions/checkout@v4

    - name: Get GraalPy EA build
      run: |
        tarball="$(curl -s "https://api.github.com/repos/graalvm/graalvm-ce-dev-builds/releases/latest" | jq -r --arg artifact "graalpy-community-dev-${{ matrix.os.platform }}-${{matrix.os.arch}}.tar.gz" '.assets[] | select(.name == $artifact) | .browser_download_url')"
        curl -sfL "$tarball" | tar xz

    - name: Run downstream tests for ${{ matrix.name }}
      run: python mx.graalpython/downstream_tests.py graalpy-*/bin/python ${{ matrix.name }}
